body {
    background-color: #121213;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #3a3a3c;
}

.topContainer {
display: flex;
justify-content: space-around;
align-items: center;
}

.pside, .cside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.box {
    border: solid;
    height: 150px;
    width: 150px;
    margin: 20px;
}

#computerChoice, #playerChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3c;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal {
    background-color:#121213;
    padding: 30px 50px;
    border-radius: 5px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}